:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.news-app-toolbar {
    flex: 0 0 auto;
}

.news-app-menu {
    margin-right: 10px;
}

.news-app-icon {
    padding: 0 14px;
}

.news-app-spacer {
    flex: 1 1 auto;
}

.news-app-content {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;


    router-outlet + ::ng-deep * {
        width: 100%;
        max-width: 1200px;
        background: white;
    }
}
